/* Stephen, 23-Mar-2015, 16:56:20 */

body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 90%;
}

aside,
article,
section,
header,
footer,
nav {
    display: block;
}

aside {
    width: 300px;
    border: 1px solid #000;
    padding: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: nomal;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: nomal;
}

p {
	font-size: 1em;
	color: blue;
}